In [1]:
import numpy as np
import pandas as pd

In [2]:
hn = pd.read_csv("hacker_news.csv")

In [3]:
hn.head()

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,8/4/2016 11:52
1,10975351,How to Use Open Source and Shut the Fuck Up at...,http://hueniverse.com/2016/01/26/how-to-use-op...,39,10,josep2,1/26/2016 19:30
2,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,6/23/2016 22:20
3,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,6/17/2016 0:01
4,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,9/30/2015 4:12

In [7]:
ask_posts = hn[hn["title"].str.startswith("Ask HN")]
show_posts = hn[hn["title"].str.startswith("Show HN")]
other_posts = hn[~(hn["title"].str.startswith("Ask HN") | hn["title"].str.startswith("Show HN"))]

print(ask_posts.shape[0])
print(show_posts.shape[0])
print(other_posts.shape[0])

1742
1161
17197

In [8]:
avg_ask_comments = ask_posts["num_comments"].mean()
avg_show_comments = show_posts["num_comments"].mean()

print("Average Number of Comments for Ask HN:", avg_ask_comments)
print("Average Number of Comments for Show HN:", avg_show_comments)

Average Number of Comments for Ask HN: 14.044776119402986
Average Number of Comments for Show HN: 10.324720068906116

In [17]:
hn["created_at"] = pd.to_datetime(hn["created_at"], format="%m/%d/%Y %H:%M")

hn.groupby(hn["created_at"].map(lambda t: t.hour))["num_comments"].sum()

created_at
0      697
1      588
2      529
3      488
4      527
5      453
6      468
7      508
8      578
9      609
10     686
11     762
12     923
13    1102
14    1151
15    1234
16    1302
17    1362
18    1254
19    1145
20    1051
21    1030
22     875
23     778
Name: num_comments, dtype: int64

In [18]:
hn.groupby(hn["created_at"].map(lambda t: t.hour))["num_comments"].mean()

created_at
0     25.076040
1     21.198980
2     26.015123
3     23.823770
4     21.891841
5     22.715232
6     19.771368
7     24.755906
8     24.328720
9     25.080460
10    24.516035
11    27.118110
12    27.465872
13    27.733212
14    29.144222
15    29.018639
16    23.699693
17    25.538913
18    25.188995
19    24.361572
20    22.277831
21    21.992233
22    21.353143
23    22.598972
Name: num_comments, dtype: float64